
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BO/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "ArticleBO")">BO</a> </li>
            <li><a href="@Url.Action("Index", "ArticleBO")">Article</a></li>
            <li class="active">Create</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<section id="main">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img data-src="holder.js/100%x300" alt="100%x300" />
                    </a>
                </div>
                <div class="col-xs-6 col-md-9">
                    <form role="form">
                        <div class="form-group">
                            <label for="title">Tiêu đề</label>
                            <input type="text" class="form-control" id="title" placeholder="Nhập tiêu đề">
                        </div>
                        <div class="form-group">
                            <label for="description">Mô tả</label>
                            <textarea class="form-control" id="description" placeholder="Mô tả ngắn"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="tags">Nhãn</label>
                            <input type="text" class="form-control" id="tags" value="Amsterdam,Washington" data-role="tagsinput" placeholder="Nhãn">
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- .content -->
    </div>
</section><!-- #main -->
<script>
    $(document).ready(function () {
        var tags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '/ArticleBO/GetTags?tag=%QUERY'
        });
        tags.initialize();
        $('#tags').tagsinput({
            typeaheadjs: {
                name: 'tags',
                displayKey: 'name',
                valueKey: 'name',
                source: tags.ttAdapter()
            }
        });
    });
</script>
