@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BO/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-box">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "ArticleBO")">BO</a> </li>
            <li class="active">Article</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<section id="main">
    <div class="container">
        <div class="content">
            <div class="row">
                

                <div id="articleToolbar"></div>
                <div id="articleGrid"></div>
                <button type="button" class="btn btn-primary btn-lg" id="undo">
                    Upload Image
                </button>
            </div>
        </div><!-- .content -->
    </div>
</section><!-- #main -->
<script type="text/x-kendo-template" id="articleToolbarTemplate">
    <div class="toolbar">
        <button id="readRss" class="k-button">Read Rss</button>
        <button class="k-button k-grid-save-changes">Save</button>
        <button class="k-button k-grid-cancel-changes">Cancel</button>
    </div>
</script>
<script>
    $(document).ready(function () {
        var articleUrl = "/BO/ArticleBO",
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: articleUrl + "/GetArticles",
                        dataType: "json"
                    },
                    update: {
                        url: articleUrl + "/Update",
                        dataType: "json",
                        type: "post"
                    },
                    destroy: {
                        url: articleUrl + "/Destroy",
                        dataType: "json",
                        type: "post"
                    },
                    create: {
                        url: articleUrl + "/Create",
                        dataType: "json",
                        type: "post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "ArticleId",
                        fields: {
                            ArticleId: { editable: false, nullable: true },
                            Title: { validation: { required: true } },
                            Author: { type: "string" },
                            Source: { type: "string" },
                            IsActived: { type: "boolean" }
                        }
                    }
                }
            });

        $("#articleGrid").kendoGrid({
            dataSource: dataSource,
            navigatable: true,
            pageable: true,
            height: 550,
            toolbar: kendo.template($("#articleToolbarTemplate").html()),
            columns: [
                { field: "ArticleId", title: "Id", width: 50 },
                { field: "Title", title: "Title", width: 150 },
                { field: "Author", title: "Author", width: 80 },
                { field: "ArticleType", title: "ArticleType", width: 80, editor: articleTypeDropDownEditor, template: "#=ArticleType.ArticleTypeName#" },
                { field: "BoxSize", title: "Box Size", width: 80, editor: boxSizeDropDownEditor, template: "#=BoxSize.BoxSizeName#" },
                { field: "IsActived", title: "IsActived", width: 80 },
                { command: [{ text: "Details", click: showDetails },"destroy"], title: "&nbsp;", width: 100 }],
            editable: true
        });


        function articleTypeDropDownEditor(container, options) {
            $('<input required data-text-field="ArticleTypeName" data-value-field="ArticleTypeId" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataSource: [
                      { ArticleTypeName: "News", ArticleTypeId: "0" },
                      { ArticleTypeName: "Review", ArticleTypeId: "1" }
                    ]
                });
        }
        
        function boxSizeDropDownEditor(container, options) {
            $('<input required data-text-field="BoxSizeName" data-value-field="BoxSizeId" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataSource: [
                      { BoxSizeName: "Box1", BoxSizeId: "1" },
                      { BoxSizeName: "Box2", BoxSizeId: "2" },
                      { BoxSizeName: "Box3", BoxSizeId: "3" }
                    ]
                });
        }
        
    



        $("#readRss").click(function() {
            $.ajax({
                url: '/ArticleBO/ReadRss',
                type: "POST",
                data: { url: '' },
                dataType: "json",
                success: function (result) {
                    if (result) {
                    }
                }
            });
        });
    });
    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.open('@Url.Action("Create","ArticleBO")?articleId='+dataItem.ArticleId,'_blank');
    }
</script>
